.cards__item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 240px;
    margin-right: 100px;
    padding-bottom: 60px;
}

.cards__item:nth-of-type(3n) {
    display: flex;
    margin-right: 0;
}